@import url('https://fonts.googleapis.com/css?family=Rubik');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:300');
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
#top_left {
	float: left;
	padding: 20px;
}
#left {
	padding: 20px;
	float: left;
	width: 40%;
}
#right {
	float: right;
	width: 58%;
}
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
body {
	background-color: #5F50E6;
	text-align: left;
}
h1 {
	color: #FFD798;
	font-size: 48px;
	font-weight: 200;
	font-family: "Josefin Sans", sans-serif;
	text-shadow: 2px 2px #3D329E;
	padding-top: 3em;
}

#slogan {
	font-style: italic;
	font-family: "Roboto Slab", serif;
	font-size: 16px;
	color: #EFEDF9;
	padding-bottom: 1em;
	padding: 20px;
	display: block;
}
p {
	font-family: "Roboto Slab", serif;
	font-size: 16px;
	color: #EFEDF9;
	padding-top: 1em;
	width: 600px;
}

ul {
	font-family: "Roboto Slab", serif;
	font-size: 16px;
	color: #EFEDF9;
	font-weight: 300;
	list-style-type: none;
	text-align: left;
	padding-bottom: 2em;
	padding-top: 1em;
}
#contact {
	background-color: #FFD798;
	font-weight: 300;
	font-size: 16px;
	text-align: center;
	padding-right: 12px;
	padding-left: 12px;
	padding-top: 8px;
	padding-bottom: 8px;
	width: 100px;
	margin: auto;
	float: left;
}